<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psm.petcare.dao.PetDAO">



    <insert id="addPet">
        insert into pet(owner_id, owner_name, store_id, pet_age,pet_gender, pet_weight, pet_length, pet_speciese, pet_img, full_vaccine, create_time,update_time)
        values(#{ownerId},#{ownerName},#{storeId},#{age},#{petGender},#{petWeight},#{petLength},#{petSpeciese},#{petImg},#{fullVaccine},#{createTime},#{updateTime})
    </insert>



    <resultMap id="petMap" type="Pet">
        <id column="pet_id" property="petId"/>
        <result column="owner_id" property="ownerId"/>
        <result column="owner_name" property="ownerName"/>
        <result column="store_id" property="storeId"/>
        <result column="pet_age" property="age"/>
        <result column="pet_gender" property="petGender"/>
        <result column="pet_weight" property="petWeight"/>
        <result column="pet_length" property="petLength"/>
        <result column="pet_speciese" property="petSpeciese"/>
        <result column="pet_img" property="petImg"/>
        <result column="full_vaccine" property="fullVaccine"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>


    <select id="listPets" resultMap="petMap">
        select pet_id,owner_id,owner_name,store_id,pet_age,
               pet_gender,pet_weight,pet_length,pet_speciese,pet_img,full_vaccine,
               create_time,update_time
        from pet
        where store_id = #{storeId}
    </select>

    <select id="queryPet" resultMap="petMap">
        select pet_id,owner_id,owner_name,store_id,pet_age,
               pet_gender,pet_weight,pet_length,pet_speciese,pet_img,full_vaccine,
               create_time,update_time
        from pet
        where pet_id = #{petId}
    </select>



    <delete id="deletePet">
        delete from pet
        where pet_id = #{petId}
    </delete>

    <update id="updatePet">
        update pet
        <set>

            <if test="age !=null and age !=''">
                pet_age = #{age},
            </if>
            <if test="petWeight !=null and petWeight !=''">
                pet_weight = #{petWeight},
            </if>
            <if test="petLength !=null and petLength !=''">
                pet_length = #{petLength},
            </if>
            <if test="petImg !=null and petImg !=''">
                pet_img = #{petImg},
            </if>



            full_vaccine =#{fullVaccine},



            update_time=#{updateTime},
        </set>

        <where>
            pet_id = #{petId}
        </where>
    </update>


<!--    Data Analysis-->
    <select id="petType" resultMap="petMap">
        SELECT pet_speciese, COUNT(*) AS full_vaccine
        FROM pet
        WHERE store_id = #{storeId}
        GROUP BY pet_speciese;
    </select>
</mapper>
