<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psm.petcare.dao.ReservationDAO">



<!--    <insert id="insertUser">-->
<!--        insert into users(email, password, user_type, user_register_time)-->
<!--        values(#{email},#{password},#{userType},#{userRegisterTime})-->
<!--    </insert>-->


    <resultMap id="reseverMap" type="Reservation">
        <id column="reserve_id" property="reserveId"/>
        <result column="user_id" property="userId"/>
        <result column="service_id" property="serviceId"/>
        <result column="store_id" property="storeId"/>
        <result column="reserver_name" property="reserverName"/>
        <result column="reserver_phone" property="reserverPhone"/>
        <result column="num_of_pet" property="numOfPet"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="check_in_date" property="checkInDate"/>
        <result column="check_in_time" property="checkInTime"/>
        <result column="reserve_status" property="reserveStatus"/>
        <result column="cancle_time" property="cancelTime"/>
        <result column="complete_time" property="completeTime"/>
        <result column="is_comment" property="isComment"/>
        <result column="is_document" property="isDocument"/>
    </resultMap>

    <resultMap id="reseverVOMap" type="ReservationVO">
        <id column="reserve_id" property="reserveId"/>
        <result column="user_id" property="userId"/>
        <result column="service_id" property="serviceId"/>
        <result column="store_id" property="storeId"/>
        <result column="reserver_name" property="reserverName"/>
        <result column="reserver_phone" property="reserverPhone"/>
        <result column="num_of_pet" property="numOfPet"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="check_in_date" property="checkInDate"/>
        <result column="check_in_time" property="checkInTime"/>
        <result column="reserve_status" property="reserveStatus"/>
        <result column="cancle_time" property="cancelTime"/>
        <result column="complete_time" property="completeTime"/>
        <result column="is_comment" property="isComment"/>
        <result column="is_document" property="isDocument"/>

        <result column="service_name" property="serviceName"/>
        <result column="service_img" property="serviceImg"/>
        <result column="price" property="price"/>

        <result column="store_name" property="storeName"/>
        <result column="state" property="state"/>
        <result column="city" property="city"/>
        <result column="address" property="address"/>

    </resultMap>

    <!--    User-->
    <insert id="insertReservation">
        insert into reservation(user_id, service_id, store_id, reserver_name, reserver_phone, num_of_pet,
                                total_amount, check_in_date, check_in_time, reserve_status)
        values(#{userId},#{serviceId},#{storeId},#{reserverName},#{reserverPhone},#{numOfPet},#{totalAmount},
               #{checkInDate},#{checkInTime},#{reserveStatus})

    </insert>

    <!--    Owner-->

    <select id="getReverstaionByDate" resultMap="reseverMap">
        select reserve_id
        from reservation
        where check_in_date =#{checkInDate} and check_in_time =#{checkInTime}
    </select>

    <select id="listReservationByUserId" resultMap="reseverVOMap">

        select
            r.reserve_id,r.user_id,r.service_id,r.store_id,r.reserver_name,r.reserver_phone,
            r.num_of_pet,r.total_amount,r.check_in_date,r.check_in_time,r.reserve_status,r.cancle_time,r.complete_time,
            r.is_comment,r.is_document,p.service_name,p.service_img,p.price, s.store_name,s.state,s.city,
            s.address
        from reservation r
        inner join pet_service p
        on r.service_id=p.service_id
        inner join store s
        on p.store_id=s.store_id
        where r.user_id = #{userId}
    </select>

    <select id="listReservationByStoreId" resultMap="reseverVOMap">

        select
            r.reserve_id,r.user_id,r.service_id,r.store_id,r.reserver_name,r.reserver_phone,
            r.num_of_pet,r.total_amount, r.check_in_date,r.check_in_time,r.reserve_status,r.cancle_time,r.complete_time,
            r.is_comment,r.is_document,p.service_name,p.service_img,p.price, s.store_name,s.state,s.city,
            s.address
        from reservation r
        inner join pet_service p
        on r.service_id=p.service_id
        inner join store s
        on p.store_id=s.store_id
        where p.store_id=#{storeId}
        ORDER BY
            CASE r.reserve_status
                WHEN 'Pending' THEN 1
                WHEN 'Confirmed' THEN 2
                WHEN 'Completed' THEN 3
                WHEN 'Rejected' THEN 4
                WHEn 'Canceled' THEN 5


                ELSE 6
                END

    </select>

    <select id="selectReservedService" resultMap="reseverVOMap">
        select DISTINCT  p.service_id, p.service_name,p.service_img,p.price
        from reservation r
        inner join pet_service p
        on r.service_id=p.service_id
        where reserve_status = 'Completed' or reserve_status = 'Pending' or reserve_status = 'Canceled'
        limit 3;
    </select>

    <update id="changeStatus">
        update reservation set reserve_status = #{reserveStatus},cancle_time=#{cancelTime}
        where reserve_id = #{reserveId}
    </update>

    <update id="completeReservation">
        update reservation set reserve_status = #{reserveStatus},complete_time=#{completeTime}
        where reserve_id = #{reserveId}
    </update>

    <update id="updateTotalAmountComplete">
        update reservation set total_amount=#{totalAmount}, reserve_status = 'Completed', complete_time =#{completeTime}
        where reserve_id = #{reserveId}
    </update>

    <update id="changeIsDocument">
        update reservation set is_document = 1
        where reserve_id = #{reserveId}
    </update>


<!--    Data Analysis-->
    <select id="monthlyServiceProfit" resultMap="reseverMap">

        SELECT
            DATE_FORMAT(complete_time, '%Y-%m') AS reserver_name,
            SUM(total_amount) AS total_amount
        FROM
            reservation
        WHERE
            store_id = #{storeId}
            AND reserve_status = 'Completed'
            AND complete_time >= DATE_SUB(CURRENT_DATE, INTERVAL 12 MONTH)
        GROUP BY
            DATE_FORMAT(complete_time, '%Y-%m')
        ORDER BY
            DATE_FORMAT(complete_time, '%Y-%m') ASC;


    </select>

    <select id="fiveRecentReservation" resultMap="reseverVOMap">
        select
            r.reserver_name, r.check_in_date,r.check_in_time,r.reserve_status,p.service_name
        from reservation r
                 inner join pet_service p
                            on r.service_id=p.service_id

        where r.store_id=#{storeId}

        ORDER BY
            CASE r.reserve_status
                WHEN 'Pending' THEN 1
                WHEN 'Confirmed' THEN 2

                WHEN 'Rejected' THEN 3
                WHEn 'Canceled' THEN 4
                WHEN 'Completed' THEN 5

                ELSE 6
                END,
            check_in_date
            LIMIT 5;

    </select>

    <select id="bestReservedService" resultMap="reseverVOMap">
        SELECT
            ps.service_name,
            COUNT(r.reserve_id) AS num_of_pet,
            SUM(r.total_amount) AS total_amount
        FROM
            pet_service ps
                JOIN reservation r ON ps.service_id = r.service_id
        WHERE
            ps.store_id = #{storeId}
          AND r.reserve_status = 'Completed'
        GROUP BY
            ps.service_id
        ORDER BY
            num_of_pet DESC
            LIMIT 1;

    </select>

    <select id="topFiveReservedService" resultMap="reseverVOMap">
        SELECT
            ps.service_name,
            COUNT(r.reserve_id) AS num_of_pet,
            SUM(r.total_amount) AS total_amount
        FROM
            pet_service ps
                JOIN reservation r ON ps.service_id = r.service_id
        WHERE
            ps.store_id = #{storeId}
          AND r.reserve_status = 'Completed'
          AND r.complete_time >= CURDATE() - INTERVAL 30 DAY
        GROUP BY
            ps.service_id
        ORDER BY
            num_of_pet DESC
            LIMIT 5;
    </select>

    <select id="lastMonthDailyProfit" resultMap="reseverMap">
        SELECT DAY(complete_time) AS check_in_date,
        SUM(total_amount) AS total_amount
        FROM reservation
        WHERE store_id = #{storeId}
        AND reserve_status = 'Completed'
        AND complete_time &gt;= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
        AND complete_time &lt; DATE_SUB(DATE_FORMAT(CURDATE(), '%Y-%m-01'), INTERVAL DAY(CURDATE()) DAY)
        GROUP BY DAY(complete_time)
        ORDER BY DAY(complete_time) ASC;

    </select>

    <select id="currentMonthDailyProfit" resultMap="reseverMap">
        SELECT DAY(complete_time) AS check_in_date,
            SUM(total_amount) AS total_amount
        FROM reservation
        WHERE store_id = #{storeId}
          AND reserve_status = 'Completed'
          AND MONTH(complete_time) = MONTH(CURRENT_DATE())
          AND YEAR(complete_time) = YEAR(CURRENT_DATE())
        GROUP BY DAY(complete_time)
        ORDER BY DAY(complete_time) ASC;

    </select>

    <select id="totalReservation" resultMap="reseverMap">
        SELECT SUM(total_amount) AS total_amount,
               COUNT(*) AS reserve_id, <!--reserve_id: total number of reservation-->
               COUNT(DISTINCT MONTH(complete_time)) AS num_of_pet <!--num_of_pet: number of month-->
        FROM reservation
        WHERE store_id = #{storeId}
        AND reserve_status = 'Completed';

    </select>
</mapper>
